@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #0d1321;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #f0ebd8;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #748cab;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover{
    cursor: pointer;
    box-shadow: 0 0 30px #748cab;
}

.stats-card {
    background-color: #748cab;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
}

.game-card {
    background-color: #f0ebd8;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card p, h3 {
    color: #0d1321;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #f0ebd8;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

